* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #212121;
  color: white;
  padding: 20px;
}

.headerImage {
  height: 100%;
  margin-right: 6px;
}

.headerTitle {
  font-size: 1.25rem;
  margin-right: auto;
}

.headerProject {
  font-size: 0.75rem;
  font-weight: 500;
}

.authorLink {
  color: greenyellow;
}
